    /* Card do formulário */
.form-box {
    background-color: #143436;
    padding: 30px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    color: white;

}

    /* Título */
.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

    /* Labels */
.form-box label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

    /* Inputs */
.form-box input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-size: 14px;
}

    /* Botão */
.form-box .btn {
    background-color: #79d5e0;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    font-size: 14px;
}

.form-box .btn:hover {
    opacity: 0.85;
}

    /* Link Criar conta */
.form-box .register {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}

.form-box .register a {
    color: #79d5e0;
    text-decoration: none;
}

.form-box .register a:hover {
    text-decoration: underline;
}

.circulo {
    background-color: #79d5e0;
    width: 120px;      
    height: 100px;     
    border-radius: 50%;
    border: 2px solid rgb(171, 171, 171);
    display: flex;
    margin: 0 auto;
    display: flex;
}

.imgLogo {
    width: 85px;
    margin: 0 auto;
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;

}
footer{
    color: azure;
}
h1{
    color: azure;
} 
#logar{
    min-width: 350px;
    margin-bottom: 10px;
}
#card{
    margin-bottom: 10px;
}
      