<nav class="navbar navbar-expand-lg bg-body-tertiary" aria-label="Thirteenth navbar example">
    <div class="container-fluid"> 
        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11"> 
            <a class="navbar-brand col-lg-3 me-0" href="/">Chegando</a>
            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                <!-- se o usuario estiver -->
                {%if session['email']%}
                    <li class="nav-item"> <a class="nav-link active {%if rota_atual == '/'%} active {%endif%}" aria-current="page" href="#">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link {%if rota_atual == '/chamar_guincho'%} active {%endif%}" href="#">Solicitar Guincho</a> </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle {%if rota_atual == '/historico'%} active {%endif%}" href="#" data-bs-toggle="dropdown" aria-expanded="false">Solicitar anteriores</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">De hoje</a></li>
                            <li><a class="dropdown-item" href="#">30 dias</a></li>
                            <li><a class="dropdown-item" href="#">todas</a></li>
                        </ul>
                    </li>
                {%endif%}
                <!-- se o usuarios nao estiver logado -->
                {%if not session['email']%}
                    <li class="nav-item"><a href="/" class="nav-link {%if rota_atual == '/'%} active {%endif%}"  " aria-current="page">Home</a></li>
                {%endif%}
            </ul>
            {%if session['email']%}
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                <a href="/perfil" class="nav-link {%if rota_atual == '/perfil'%} active {%endif%}">Perfil</a>
            </div>
            {%endif%}

            {%if not session['email']%}
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                <a href="/login" class="nav-link {%if rota_atual == '/login'%} active {%endif%}" ">Login</a> 
            </div>
            {%endif%}

        </div>
    </div>
</nav>