    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                {%if session['email']%}
                    <li class="nav-item"><a href="/" class="nav-link px-2 bs-light">Home</a></li>    
                    <li class="nav-item"><a href="/chamar_guincho" class="nav-link px-2 bs-light">Solicitar Guincho</a>
                    </li>
                    <li class="nav-item"><a href="/historico" class="nav-link px-2 bs-light">Solicitações anteriores</a>
                    </li>
                    <li class="nav-item"><a href="/sair" class="nav-link px-2 bs-light">Sair</a></li>
                {%endif%} 
                {%if not session['email']%}
                    <li class="nav-item"><a href="/" class="nav-link px-2 bs-light">Home</a></li>
                {%endif%}
            </ul>
            <p class="text-center bs-light">© 2025 — Desenvolvido por Gabriel</p>
        </footer>
    </div>