    /* Card do formulário */
.form-box {
    background-color: #143436;
    padding: 30px;
    padding-bottom: 10px;
    width: 320px;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.774);
    color: white;

}

    /* Título */
.form-box .form-titulo {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
}

    /* Labels */
.form-box label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
    /* subtitulo */
.form-box h2{
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    margin-bottom: 8px;
}
.form-box p{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 7px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: #2e2e2e;
}

    /* Inputs */
.form-box input {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-size: 14px;
}

    /* Botão */
.form-box .btn {
    background-color: #79d5e0;
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
}

.form-box .btn:hover {
    opacity: 0.85;
}

    /* Link Criar conta */
.form-box .register {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    background-color: #143436;
    color: white;
}

.form-box .register a {
    color: #79d5e0;
    text-decoration: none;
}

.form-box .register a:hover {
    text-decoration: underline;
}

.circulo {
    background-color: #79d5e0;
    width: 45px;      
    height: 45px;     
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    margin: 0 auto;
    display: flex;
}

.imgLogo {
    width: 40px;
    margin: 0 auto;
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e2e2e;

}
footer{
    color: azure;
}
h1{
    color: azure;
} 
#logar{
    min-width: 350px;
    margin-bottom: 10px;
}

#card{
    margin-bottom: 10px;
}
.btUniversal{
    background-color: #79d5e0;
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    outline: none;
    margin-bottom: 15px;
    font-size: 14px;
}

.btUniversal:hover {
    opacity: 0.85;
}

      