<!DOCTYPE html>
<html lang="en">

<head>
    {%include "componentes/metadados.html"%}
    <title>Document</title>
</head>

<body>

    {%include "componentes/menu.html"%}
    <h1>Faça seu pedido:</h1>
    <section id="logar" class="form-box">
        <form action="">
            <label for="email">Placa:</label>
            <input type="text" name="placa" class="input" value="">
            <label for="senha">Endereço:</label>
            <input type="text" name="endereco" class="input">
            <label for="senha">Numero:</label>
            <input type="text" name="numeroEdereço" class="input">
            <hr>
            <input type="submit" name="btFinalizar" value="Finalizar" class="btn">
        </form>
    </section>

    {%include "componentes/rodape.html" %}
</body>

</html>