<!DOCTYPE html>
<html lang="en">

<head>
    {%include "componentes/metadados.html"%}
    <title>Document</title>
</head>

<body>

    {%include "componentes/menu.html"%}
    <h1>Faça seu pedido:</h1>
    <section class="form-box">
        <form action="/chamar_guincho" method="post">
            <label >Placa:</label>
            <input type="text" name="placa" class="input" placeholder="Placa do carro">
            <label >Endereço de Origem:</label>
            <input type="text" name="endereco_origem" class="input" placeholder="Endereço completo">
            <label >Endereço Final:</label>
            <input type="text" name="endereco_final" class="input"  placeholder="Endereço completo">
            <hr>
            <input type="submit" name="btFinalizar" value="Finalizar" class="btn">
        </form>
    </section>

    {%include "componentes/rodape.html" %}
</body>

</html>