<!DOCTYPE html>
<html lang="en">
<head>
    {%include "metadados.html"%}
    <title>Document</title>
</head>
<body>
    {%include "menu.html"%}   
    
    <section id="logar" class="form-box">
        <div id="login">
            <h2>Crie sua conta:</h2>
            <form action="login" method="post">
                <label >Nome:</label>
                <input type="text" name="nome" class="input" placeholder="Nome">
                <label >Email:</label>
                <input type="text" name="email" class="input" placeholder="login">
                <label >Senha:</label>
                <input type="password" name="senha" class="input" placeholder="senha">
                <input type="submit" name="btEntrar" value="Criar" class="btn">
            </form>
        </div>
    </section>


    {%include "rodape.html"%}
</body>
</html>