<!DOCTYPE html>
<html lang="en">

<head>
    {%include "componentes/metadados.html"%}
    <title>Document</title>
</head>

<body>
    {%include "componentes/menu.html"%}
    <h1>Solicitações anteriores:</h1>
    <div class="scrollbar">
        {% for id,placa_carro, local_de_origem, local_de_destino, status, data, hora in informacao%}
            <section class="form-box">
                <h2>Placa</h2>
                <p>{{placa_carro}}</p>
                <h2>Endereço de origem</h2>
                <p>{{local_de_origem}}</p>
                <h2>Endereço de destino</h2>
                <p>{{local_de_destino}}</p>
                <h2>Protocolo</h2>
                <p>{{id}}</p>
                <h2>Data</h2>
                <p>{{data}}</p>
                <h2>Horas</h2>
                <p>{{hora}}</p>
                <hr>
                <a href="/">
                    <button class="btUniversal">Voltar</button>
                </a>
            </section>
        {%endfor%}
    </div>    
    {%include "componentes/rodape.html" %}
</body>

</html>