<!DOCTYPE html>
<html lang="en">

<head>
    {%include "componentes/metadados.html"%}
    <title>Document</title>
</head>

<body>
    {%include "componentes/menu.html"%}
    <h1>Solicitações anteriores:</h1>
    <div class="row">
        <div class="col">
            <section class="form-box">
                <h1 class="form-titulo">Data: 02/03/2021</h1>
                <h2>Email</h2>
                <p>iya-2324</p>
                <h2>Endereço</h2>
                <p>rua tal</p>
                <h2>Numero</h2>
                <p>3224</p>
                <hr>
                <input type="submit" name="btDetalhes" value="Detalhes" class="btn">
            </section>
        </div>
        <div class="col">
            <section class="form-box">
                <h1 class="form-titulo">Data: 02/03/2021</h1>
                <h2>Email</h2>
                <p>iya-2324</p>
                <h2>Endereço</h2>
                <p>rua tal</p>
                <h2>Numero</h2>
                <p>3224</p>
                <hr>
                <input type="submit" name="btDetalhes" value="Detalhes" class="btn">
            </section>
        </div>
    </div>    
    {%include "componentes/rodape.html" %}
</body>

</html>