<!DOCTYPE html>
<html lang="en">

<head>
    {%include "metadados.html"%}
    <title>Document</title>
</head>

<body>
    {%include "menu.html"%}
    <section id="logar" class="form-box">

        <div id="login">
            <h2>Entrar:</h2>
            <form action="login" method="post">
                <label >Email:</label>
                <input type="text" name="login" class="input" placeholder="login">
                <label >Senha:</label>
                <input type="password" name="senha" class="input" placeholder="senha">
                <input type="submit" name="btEntrar" value="Entrar" class="btn">
            </form>

            <p class="register">
                Ainda não tem sua conta?
                <a href="criar_conta.html">Criar conta</a>
            </p>
        </div>
    </section>
    <hr>
    {%include "rodape.html"%}
</body>
</html>