<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"> 
            <a href="home_page.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                <div class="circulo">
                    <img src="../img/img_logo.png" alt="Imagem da logo do site" class="imgLogo">
                </div>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="home_page" class="nav-link " aria-current="page">Home</a></li>
                <li class="nav-item"><a href="chamar_guincho" class="nav-link">Solicitar Guincho</a></li>
                <li class="nav-item"><a href="historico" class="nav-link ">Solicitar anteriores</a></li>
                <li class="nav-item"><a href="login" class="nav-link active">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Perfil</a></li>
            </ul>
        </header>
    </div>


    <section id="logar" class="form-box">

        <div id="login">
            <h2>Entrar:</h2>
            <form action="login" method="post">
                <label >Email:</label>
                <input type="text" name="login" class="input" placeholder="login">
                <label >Senha:</label>
                <input type="password" name="senha" class="input" placeholder="senha">
                <input type="submit" name="btEntrar" value="Entrar" class="btn">
            </form>

            <p class="register">
                Ainda não tem sua conta?
                <a href="criar_conta.html">Criar conta</a>
            </p>
        </div>
    </section>
    <hr>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="home_page.html" class="nav-link px-2 bs-light">Home</a></li>
                <li class="nav-item"><a href="chamar_guincho.html" class="nav-link px-2 bs-light">Solicitar Guincho</a></li>
                <li class="nav-item"><a href="historico.html" class="nav-link px-2 bs-light">Solicitações anteriores</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 bs-light">About</a></li>
            </ul>
            <p class="text-center bs-light">© 2025 — Desenvolvido por Gabriel</p>
        </footer>
    </div>
</body>
</html>