<!DOCTYPE html>
<html lang="en">

<head>
    {%include "componentes/metadados.html"%}
    <title>Document</title>
</head>

<body>
    {%include "componentes/menu.html"%}
    <section id="logar" class="form-box">
        <h1 class="form-titulo">Entrar</h1>
        <form action="login" method="post">
            <label >Email:</label>
            <input type="text" name="email" class="input" placeholder="Email">
            <label >Senha:</label>
            <input type="password" name="senha" class="input" placeholder="senha">
            <input type="submit" name="btEntrar" value="Entrar" class="btn">
        </form>
        <p class="register">
            Ainda não tem sua conta?
            <a href="criar_conta">Criar conta</a>
        </p>
    </section>
    <hr>
    {%include "componentes/rodape.html"%}
</body>
</html>