<!DOCTYPE html>
<html lang="en">
<head>
    {%include "componentes/metadados.html"%}
    <title>Document</title>
</head>
<body>
    {%include "componentes/menu.html"%}
    <h1>Perfil:</h1>
    <section id="logar" class="form-box">
        {% for nome,email,data_nascimento,telefone in informacao %}
            <h2>Nome:</h2>
            <p>{{nome}}</p>
            <h2>Email</h2>
            <p>{{email}}</p>
            <h2>Telefone</h2>                       
            <p>{{telefone}}</p>             
            <h2>Data de nascimento</h2>                        
            <p>{{data_nascimento}}</p>
        {% endfor %}
        <hr>                
        <a href="">
            <button class="btUniversal" >Virar prestador</button> 
        </a>  
        <a href="/sair">
            <button class="btUniversal">Sair</button>
        </a>
    </section>
    {%include "componentes/rodape.html" %}
</body>
</html>